01 Dataset Crawling/.ipynb_checkpoints
02 Dataset Cleaning and Creation of Subsets/.ipynb_checkpoints
03 Dataset Annotation/.ipynb_checkpoints
04 Train Models/.ipynb_checkpoints
05 Corpus Analysis and Statistics/.ipynb_checkpoints
06 Evaluate Model/.ipynb_checkpoints

Datasets/raw_dataset/
Datasets/dataset/
Datasets/annotation_dataset/
Datasets/annotated_dataset/
Datasets/annotations.csv
Datasets/k_fold_splits

Datasets/GermEval2017/

Trainings/Results/
Trainings/Models/

Datasets/annotations_matched_filtered.csv

.DS_Store
.ipynb_checkpoints