pandas==1.5.0
numpy
git+https://github.com/kevctae/twint.git@origin/master#egg=twint
nest-asyncio
googletransx
aiohttp_socks
elasticsearch
geopy
scikit-learn
openpyxl
jupyterlab
simpletransformers
torch
matplotlib
wordcloud
reportlab
svglib
statsmodels
krippendorff
svg2rlg
seaborn==0.12.0